@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url(/banner.jpg);
  background-position: bottom center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}